@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.secretSafes {
  background-image: linear-gradient(to top, #151820, #2c3040);
  width: 65%;
}

.secretSafes-top {
  height: 10.5rem;
  object-fit: contain;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-left: 35%;
  padding-right: 5%;
  width: 100%;
  margin-top: -8px;
  width: 100%;
  z-index: 4;
  background-repeat: no-repeat;
}

#safeName {
  font-size: 1.4rem;
  text-align: left;
  color: white;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5rem;
}

#safeDescription {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.75rem;
  text-align: left;
  color: #c4c4c4;
  line-height: 1.29;
}

.secretSafes-content {
  height: calc(100% - 10.5rem);
}

.secretSafes-nav {
  /* padding: 1rem; */
  padding: 0.7rem 0.7rem 0 0.7rem;
  font-family: "Helvetica", "Arial", sans-serif;
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  color: #5e627c;
  border-bottom: solid 3px #292d3a;
}

.navLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  height: 100%;
}

.navLeftItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLeftItem:hover {
  border-bottom: solid 2px #e20074;
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

.nabRight {
  text-align: center;
  color: #5e627c;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#totalSecrets {
  color: #5e627c;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.87rem;
}

#emptyDiv-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#addSecret {
  background-color: #e20074;
  color: white;
  margin-top: 1rem;
}

#addSecret:hover {
  background-color: white;
  color: #e20074;
  transition: all 0.3s ease-out;
  font-weight: 600;
  cursor: pointer;
}

.items-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#addFolder {
  padding-right: 1rem;
}

.secrets-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 3rem);
}

.addBtnSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.addBtn {
  color: #e20074;
  background: rgb(223, 222, 222);
  font-weight: 600;
}

.addBtn:hover {
  cursor: pointer;
  color: white;
  background: #e20074;
  transition: all 0.3s ease-in;
}

.secretFolderItem {
  margin-block-end: auto;
  width: 100%;
}

.eachFolder {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #1c1f29;
  border-bottom: solid 0.5px #2a2e3e;
  margin: 0 1rem;
}

.dropdownFolderItem {
  color: #8283a7;
  font-size: 1rem;
  padding-right: 1rem;
}

.newFolder {
  color: #d0d0d0;
  font-size: 1rem;
  padding-left: 1rem;
  font-family: "Roboto", sans-serif;
}

.newlyAdded {
  color: #33ab78;
  font-size: 0.7rem;
}

.eachFolder:hover {
  background-image: linear-gradient(to right, #72134b, #1d212c);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.emptysecret {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.secretpng {
  width: 10rem;
  height: 10rem;
}
