* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(to top, #2f3545, #1d212c);
}

.content {
  display: flex;
  height: 100%;
  padding: 9rem 10rem 4.5rem 10rem;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}
